<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input new method or digital tool attributes</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .dropdown-container {
            width: 100%;
            margin-bottom: 10px;
            text-align: left;
        }
        .input-container {
            width: 100%;
            margin-bottom: 10px;
            text-align: left;
        }
    </style>
</head>

    <body class="bg-light container-flow">
    
        <h1 class="m-4" id="Title">Input new method</h1>
       
    
    
        <div class="container-fluid m-4"> 
          <div class="row">
            <div class="col-md-6 ml-5">
            
                <div class="input-container">
                    <label for="MDTName">Name:</label>
                    <input type="text" id="MDTName" name="MDTName">
                </div>
               <div>
                <h5>Content attributes</h5>
               </div>
               <div id="ContentAttributes">
                <div class="dropdown-container" id="I1">
                    <label for="I1">Automation/Integration</label>
                </div>
    
                <div class="dropdown-container" id="I2">
                    <label for="I2">Analysis/Evaluation</label>
                </div>
    
                <div class="dropdown-container" id="I3">
                    <label for="I3">Collaboration/Communication</label>
                </div>
    
                <div class="dropdown-container" id="I4">
                    <label for="I4">Controlling/Monitoring</label>
                </div>
    
                <div class="dropdown-container" id="I5">
                    <label for="I5">Deployment/Execution</label>
                </div>
    
                <div class="dropdown-container" id="I6">
                    <label for="I6">Documentation</label>
                </div>
    
                <div class="dropdown-container" id="I7">
                    <label for="I7">Ideation/Development</label>
                </div>
    
                <div class="dropdown-container" id="I8">
                    <label for="I8">Personal Development/Training</label>
                </div>
    
                <div class="dropdown-container" id="I9">
                    <label for="I9">Planning</label>
                </div>
    
                <div class="dropdown-container" id="I10">
                    <label for="I10">Visualization</label>
                </div>
               </div>
            </div>
    
            <!-- Right panel -->
           <div class="col-md-6">
                <div>
                    <button class="btn btn-primary" onclick="ToggleMDT()">Toggle method/digital tool</button>
                </div>
                <div >
                    <h5 id="ApplicationAttributes">Application attributes (M)</h5>
                </div>
                <div>
                    <div class="dropdown-container" id="MDT1">
                        <label for="MDT1" id="MDT1Label">User friendliness</label>
                    </div>
                    <div class="dropdown-container" id="MDT2">
                        <label for="MDT2" id="MDT2Label">Complexity level</label>
                    </div>
                    <div class="dropdown-container" id="MDT3">
                        <label for="MDT3" id="MDT3Label">Scalability potential</label>
                    </div>
                    <div class="dropdown-container" id="MDT4">
                        <label for="MDT4" id="MDT4Label">Quality of the results</label>
                    </div>
                    <div class="dropdown-container" id="MDT5">
                        <label for="MDT5" id="MDT5Label">Necessary expertise</label>
                    </div>
                    <div class="dropdown-container" id="MDT6">
                        <label for="MDT6" id="MDT6Label">Implementation effort</label>
                    </div>
                    <div class="dropdown-container" id="MDT7">
                        <label for="MDT7" id="MDT7Label">Costs</label>
                    </div>
                    <div class="dropdown-container" id="MDT8">
                        <label for="MDT8" id="MDT8Label">Provision for support</label>
                    </div>
                    <div class="dropdown-container" id="MDT9">
                        <label for="MDT9" id="MDT9Label">Ease of access</label>
                    </div>
                </div>
        
            </div>
         <!--<div>
            <input type="file" id="fileInput" style="display: none;" onchange="uploadFile(event)">
            <a href="#" class="btn btn-primary" onclick="document.getElementById('fileInput').click(); return false;">Upload </a>
        </div>-->
        <div>           
            <button class="left-button btn btn-success" id="save" onclick="saveData()">Add</button>            
         </div>

        </div>
        </div>
    </body> 

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = function() {
            createDropdowns();
        };

        function createDropdowns() {
            const dropdownPlaces = document.querySelectorAll('.dropdown-container');

            // for each container
            dropdownPlaces.forEach(function(container) {
                const select = document.createElement('select');
                select.id = container.id ;

                for (let i = 1; i <= 10; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = i;
                    select.appendChild(option);
                }

                // If the container's ID is not in previous_CA_columns, disable the dropdown
              
                container.prepend(select);
            });
        }

        function ToggleMDT() {
            if (document.getElementById('Title').innerHTML === 'Input new method'){

                document.getElementById('Title').innerHTML = 'Input new digital tool'
                document.getElementById('ApplicationAttributes').innerHTML = 'Application Attributes (DT)'
                document.getElementById('MDT5Label').innerHTML = 'Required training time'
                document.getElementById('MDT6Label').innerHTML = 'Robustness of the results'
                document.getElementById('MDT7Label').innerHTML = 'Average execution time'
                document.getElementById('MDT8Label').innerHTML = 'Execution effort'
                document.getElementById('MDT9Label').innerHTML = 'Customization potential'
                
            }
            else {
                document.getElementById('Title').innerHTML = 'Input new method'
                document.getElementById('ApplicationAttributes').innerHTML = 'Application Attributes (M)'
                document.getElementById('MDT5Label').innerHTML = 'Necessary expertise'
                document.getElementById('MDT6Label').innerHTML = 'Implementation effort'
                document.getElementById('MDT7Label').innerHTML = 'Costs'
                document.getElementById('MDT8Label').innerHTML = 'Provision for support'
                document.getElementById('MDT9Label').innerHTML = 'Ease of access'
            }
        }


        /* save data */
        function saveData() {
            const data = []
            
            if (document.getElementById('Title').innerHTML === 'Input new method'){
                const MDTType = {
                    MDTType: 0,
                }
                const MDT = {
                    I1: document.getElementById('I1').querySelector('select').value,
                    I2: document.getElementById('I2').querySelector('select').value,
                    I3: document.getElementById('I3').querySelector('select').value,
                    I4: document.getElementById('I4').querySelector('select').value,
                    I5: document.getElementById('I5').querySelector('select').value,
                    I6: document.getElementById('I6').querySelector('select').value,
                    I7: document.getElementById('I7').querySelector('select').value,
                    I8: document.getElementById('I8').querySelector('select').value,
                    I9: document.getElementById('I9').querySelector('select').value,
                    I10: document.getElementById('I10').querySelector('select').value,
                    DT1: 0,
                    DT2: 0,
                    DT3: 0,
                    DT4: 0,
                    DT5: 0,
                    MDT1: document.getElementById('MDT1').querySelector('select').value,
                    MDT2: document.getElementById('MDT2').querySelector('select').value,
                    MDT3: document.getElementById('MDT3').querySelector('select').value,
                    MDT4: document.getElementById('MDT4').querySelector('select').value,
                    M1: document.getElementById('MDT5').querySelector('select').value,
                    M2: document.getElementById('MDT6').querySelector('select').value,
                    M3: document.getElementById('MDT7').querySelector('select').value,
                    M4: document.getElementById('MDT8').querySelector('select').value,
                    M5: document.getElementById('MDT9').querySelector('select').value,
                };
                data.push(MDTType)
                data.push(MDT)
            }
            else{
                const MDTType = {
                    MDTType: 1,
                }
                const MDT = {
                    I1: document.getElementById('I1').querySelector('select').value,
                    I2: document.getElementById('I2').querySelector('select').value,
                    I3: document.getElementById('I3').querySelector('select').value,
                    I4: document.getElementById('I4').querySelector('select').value,
                    I5: document.getElementById('I5').querySelector('select').value,
                    I6: document.getElementById('I6').querySelector('select').value,
                    I7: document.getElementById('I7').querySelector('select').value,
                    I8: document.getElementById('I8').querySelector('select').value,
                    I9: document.getElementById('I9').querySelector('select').value,
                    I10: document.getElementById('I10').querySelector('select').value,
                    DT1: document.getElementById('MDT5').querySelector('select').value,
                    DT2: document.getElementById('MDT6').querySelector('select').value,
                    DT3: document.getElementById('MDT7').querySelector('select').value,
                    DT4: document.getElementById('MDT8').querySelector('select').value,
                    DT5: document.getElementById('MDT9').querySelector('select').value,
                    MDT1: document.getElementById('MDT1').querySelector('select').value,
                    MDT2: document.getElementById('MDT2').querySelector('select').value,
                    MDT3: document.getElementById('MDT3').querySelector('select').value,
                    MDT4: document.getElementById('MDT4').querySelector('select').value,
                    M1: 0,
                    M2: 0,
                    M3: 0,
                    M4: 0,
                    M5: 0,
                };
                data.push(MDTType)
                data.push(MDT)
                    
            }
            const MDTName = {
                MDTName: document.getElementById('MDTName').value.toString(),
            };
            data.push(MDTName)
            console.log(data)
           

            fetch('/save_method_attribute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Data saved successfully.');
                    setTimeout(() => {
                        location.reload();
                    }, 100); // 0.1s delay
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
            
        }

        window.onload = function() {
            createDropdowns();
        };

        // Function to populate input fields and dropdowns
    

    </script>


</body>
</html>