<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Change Attributes</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .dropdown-container {
            width: 100%;
            margin-bottom: 10px;
            text-align: left;
        }
        .input-container {
            width: 100%;
            margin-bottom: 10px;
            text-align: left;
        }
    </style>
</head>

    <body class="bg-light container-flow">
    
        <h1 class="m-4">Input Change Attributes</h1>
       
    
    
        <div class="container-fluid m-4"> 
          <div class="row">
            <div class="col-md-6 ml-5">
            <div id="Specification">
                <div class="input-container">
                    <label for="changeName">Change Name:</label>
                    <input type="text" id="changeName" name="changeName">
                </div>
                <div class="input-container">
                    <label for="changeId">Change ID:</label>
                    <input type="text" id="changeId" name="changeId">
                </div>
                <div class="input-container">
                    <label for="changeDescription">Change description:</label>
                    <input type="text" id="changeDescription" name="changeDescription">
                </div>
                <div class="input-container">
                    <label for="responsibility">Responsibility:</label>
                    <input type="text" id="responsibility" name="responsibility">
                </div>
                <div class="input-container">
                    <label for="timeframe">Timeframe:</label>
                    <input type="datetime-local" id="timeframe" name="timeframe">
                </div>
                <div class="input-container">
                    <label for="changeCause">Change cause:</label>
                    <input type="text" id="changeCause" name="changeCause">
                </div>
                <div class="input-container">
                    <label for="localization">Localization:</label>
                    <input type="text" id="localization" name="localization">
                </div>
                <div class="input-container">
                    <label for="departments">Departments:</label>
                    <input type="text" id="departments" name="departments">
                </div>
            </div>
    
            <!-- Coordination -->
            <div id="Coordination">
                <div class="input-container">
                    <label for="changeStatus">Change Status:</label>
                    <input type="text" id="changeStatus" name="changeStatus">
                </div>
                <div class="input-container">
                    <label for="timeOfOccurrence">Time of occurrence:</label>
                    <input type="datetime-local" id="timeOfOccurrence" name="timeOfOccurrence">
                </div>
                <div class="input-container">
                    <label for="lessonsLearned">Lessons learned:</label>
                    <input type="text" id="lessonsLearned" name="lessonsLearned">
                </div>
            </div>
            </div>
    
            <!-- Right panel -->
           <div class="col-md-6">
            <div class="dropdown-container" id="impactOnInternal">
                    <label for="impactOnInternal">Impact on internal</label>
            </div>
    
            <div class="dropdown-container" id="impactOnExternal">
                    <label for="impactOnInternal">Impact on external</label>
            </div>
    
            <div class="dropdown-container" id="efforts">
                    <label for="efforts">Efforts</label>
            </div>
    
            <div class="dropdown-container" id="costs">
                    <label for="costs">Costs</label>
            </div>
    
            <div class="dropdown-container" id="availableDataInformation">
                    <label for="availableDataInformation">Available data/information</label>
            </div>
    
            <div class="dropdown-container" id="dependencyLevel">
                    <label for="dependencyLevel">Dependency level</label>
            </div>
    
            <div class="dropdown-container" id="changePropagation">
                    <label for="changePropagation">Change propagation</label>
            </div>
    
            <div class="dropdown-container" id="changeReoccurrence">
                    <label for="changeReoccurrence">Change reoccurrence</label>
            </div>
    
            <div class="dropdown-container" id="complexity">
                    <label for="complexity">Complexity</label>
            </div>
    
            <div class="dropdown-container" id="challenges">
                    <label for="challenges">Challenges</label>
            </div>
    
            <div class="dropdown-container" id="duration">
                    <label for="duration">Duration</label>
            </div>
    
            <div class="dropdown-container" id="relevance">
                    <label for="relevance">Relevance</label>
            </div>
    
            <div class="dropdown-container" id="urgency">
                    <label for="urgency">Urgency</label>
            </div>
        
           </div>
          <div>           
            <button class="left-button btn btn-success" id="save" onclick="saveData()">Save</button>
            <button class="right-button btn btn-primary"id="finish" onclick="window.close();">Finish</button>
         </div>

          </div>
        </div>
    </body> 

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script>
        const previous_CA_column = {{previous_CA_columns | safe }};
        const lastEntry = {{ last_entry | tojson }};
        /* Creat drop down with nummbers 0-9 */
        window.onload = function() {
            createDropdowns();
        };

        function createDropdowns() {
            const dropdownPlaces = document.querySelectorAll('.dropdown-container');

            // for each container
            dropdownPlaces.forEach(function(container) {
                const select = document.createElement('select');
                select.id = container.id ;

                for (let i = 0; i <= 9; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = i;
                    select.appendChild(option);
                }

                // If the container's ID is not in previous_CA_columns, disable the dropdown
                if (!previous_CA_column.includes(container.id)) {
                    select.disabled = true;
                }
                container.prepend(select);
            });
        }


        /* save data */
        function saveData() {
            const data = {
                changeName: document.getElementById('changeName').value.toString(),
                changeId: document.getElementById('changeId').value.toString(),
                changeDescription: document.getElementById('changeDescription').value.toString(),
                responsibility: document.getElementById('responsibility').value.toString(),
                timeframe: document.getElementById('timeframe').value.toString(),
                changeCause: document.getElementById('changeCause').value.toString(),
                localization: document.getElementById('localization').value.toString(),
                departments: document.getElementById('departments').value.toString(),
                changeStatus: document.getElementById('changeStatus').value.toString(),
                timeOfOccurrence: document.getElementById('timeOfOccurrence').value.toString(),
                lessonsLearned: document.getElementById('lessonsLearned').value.toString(),
                impactOnInternal: document.getElementById('impactOnInternal').querySelector('select').value,
                impactOnExternal: document.getElementById('impactOnExternal').querySelector('select').value,
                efforts: document.getElementById('efforts').querySelector('select').value,
                costs: document.getElementById('costs').querySelector('select').value,
                availableDataInformation: document.getElementById('availableDataInformation').querySelector('select').value,
                dependencyLevel: document.getElementById('dependencyLevel').querySelector('select').value,
                changePropagation: document.getElementById('changePropagation').querySelector('select').value,
                changeReoccurrence: document.getElementById('changeReoccurrence').querySelector('select').value,
                complexity: document.getElementById('complexity').querySelector('select').value,
                challenges: document.getElementById('challenges').querySelector('select').value,
                duration: document.getElementById('duration').querySelector('select').value,
                relevance: document.getElementById('relevance').querySelector('select').value,
                urgency: document.getElementById('urgency').querySelector('select').value
            };

            fetch('/save_change_attribute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Data saved successfully.');
                    setTimeout(() => {
                        location.reload();
                    }, 100); // 0.1s delay
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        window.onload = function() {
            createDropdowns();
            populateFormData();
        };

        // Function to populate input fields and dropdowns
    function populateFormData() {
        // Populate text inputs
        document.getElementById('changeName').value = lastEntry.changeName || '';
        document.getElementById('changeId').value = lastEntry.changeId || '';
        document.getElementById('changeDescription').value = lastEntry.changeDescription || '';
        document.getElementById('responsibility').value = lastEntry.responsibility || '';
        document.getElementById('timeframe').value = lastEntry.timeframe || '';
        document.getElementById('changeCause').value = lastEntry.changeCause || '';
        document.getElementById('localization').value = lastEntry.localization || '';
        document.getElementById('departments').value = lastEntry.departments || '';
        document.getElementById('changeStatus').value = lastEntry.changeStatus || '';
        document.getElementById('timeOfOccurrence').value = lastEntry.timeOfOccurrence || '';
        document.getElementById('lessonsLearned').value = lastEntry.lessonsLearned || '';

        // Populate dropdowns
        document.getElementById('impactOnInternal').querySelector('select').value = lastEntry.impactOnInternal || '0';
        document.getElementById('impactOnExternal').querySelector('select').value = lastEntry.impactOnExternal || '0';
        document.getElementById('efforts').querySelector('select').value = lastEntry.efforts || '0';
        document.getElementById('costs').querySelector('select').value = lastEntry.costs || '0';
        document.getElementById('availableDataInformation').querySelector('select').value = lastEntry.availableDataInformation || '0';
        document.getElementById('dependencyLevel').querySelector('select').value = lastEntry.dependencyLevel || '0';
        document.getElementById('changePropagation').querySelector('select').value = lastEntry.changePropagation || '0';
        document.getElementById('changeReoccurrence').querySelector('select').value = lastEntry.changeReoccurrence || '0';
        document.getElementById('complexity').querySelector('select').value = lastEntry.complexity || '0';
        document.getElementById('challenges').querySelector('select').value = lastEntry.challenges || '0';
        document.getElementById('duration').querySelector('select').value = lastEntry.duration || '0';
        document.getElementById('relevance').querySelector('select').value = lastEntry.relevance || '0';
        document.getElementById('urgency').querySelector('select').value = lastEntry.urgency || '0';
    }

    </script>


</body>
</html>


