<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Methods and Digital Tools</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <style>

       .info-icon {
            margin-left: 8px;
            cursor: pointer;
        }
    </style>


</head>
<body>
    

    <div class="container">
        <div class="row">

            <div class="col-6 ml-5" id="Methods">
                <img src="../static/images/methods.svg" width="100%"></img>
            <!--
                <div class="label-container form-check mt-4">
                      <input type="checkbox" id={{selected_MDT[0]}} {% if selected_MDT[0] in selected_MDT %}checked{% endif %}>
                      <label >{{selected_MDT[0]}}</label>
                      <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='../static/images/image_example.jpg'>"></img>
                  </div>
                            
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="6-3-5 Method" {% if '6-3-5 Method' in selected_MDT %}checked{% endif %}>
                              <label for="6-3-5 Method">6-3-5 Method</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='../static/images/image_example.jpg'>"></img>
                            </div>                
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="A3 - Report" {% if 'A3 - Report' in selected_MDT %}checked{% endif %}>
                              <label for="A3 - Report">A3 - Report</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='../static/images/image_example.jpg'>"></img>
                            </div>                            
                            <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Brainstorming" {% if 'Brainstorming' in selected_MDT %}checked{% endif %}>
                                <label for="Brainstorming">Brainstorming</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='../static/images/image_example.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Communication Plan" {% if 'Communication Plan' in selected_MDT %}checked{% endif %}>
                                <label for="Communication Plan">Communication Plan</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='../static/images/image_example.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Critical-to-Quality Tree Method" {% if 'Critical-to-Quality Tree Method' in selected_MDT %}checked{% endif %}>
                                <label for="Critical-to-Quality Tree Method">Critical-to-Quality Tree Method</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>                    
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Decision Tree" {% if 'Decision Tree' in selected_MDT %}checked{% endif %}>
                                <label for="Decision Tree">Decision Tree</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Eisenhower Matrix" {% if 'Eisenhower Matrix' in selected_MDT %}checked{% endif %}>
                                <label for="Eisenhower Matrix">Eisenhower Matrix</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Gantt-Chart" {% if 'Gantt-Chart' in selected_MDT %}checked{% endif %}>
                                <label for="Gantt-Chart">Gantt-Chart</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Interview" {% if 'Interview' in selected_MDT %}checked{% endif %}>
                                <label for="Interview">Interview</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Issues Mapping" {% if 'Issues Mapping' in selected_MDT %}checked{% endif %}>
                                <label for="Issues Mapping">Issues Mapping</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Matrix Diagram" {% if 'Matrix Diagram' in selected_MDT %}checked{% endif %}>
                                <label for="Matrix Diagram">Matrix Diagram</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Mind Mapping" {% if 'Mind Mapping' in selected_MDT %}checked{% endif %}>
                                <label for="Mind Mapping">Mind Mapping</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Observation" {% if 'Observation' in selected_MDT %}checked{% endif %}>
                                <label for="Observation">Observation</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Portfolio Analysis" {% if 'Portfolio Analysis' in selected_MDT %}checked{% endif %}>
                                <label for="Portfolio Analysis">Portfolio Analysis</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Pro and Contra List" {% if 'Pro and Contra List' in selected_MDT %}checked{% endif %}>
                                <label for="Pro and Contra List">Pro and Contra List</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Process Modeling" {% if 'Process Modeling' in selected_MDT %}checked{% endif %}>
                                <label for="Process Modeling">Process Modeling</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Project Charter" {% if 'Project Charter' in selected_MDT %}checked{% endif %}>
                                <label for="Project Charter">Project Charter</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Six Thinking Hats" {% if 'Six Thinking Hats' in selected_MDT %}checked{% endif %}>
                                <label for="Six Thinking Hats">Six Thinking Hats</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="To-do Lists" {% if 'To-do Lists' in selected_MDT %}checked{% endif %}>
                                <label for="To-do Lists">To-do Lists</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="User Stories" {% if 'User Stories' in selected_MDT %}checked{% endif %}>
                                <label for="User Stories">User Stories</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Utility Analysis" {% if 'Utility Analysis' in selected_MDT %}checked{% endif %}>
                                <label for="Utility Analysis">Utility Analysis</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div>
                              <div class="label-container form-check mt-4">
                                <input type="checkbox" id="Value Stream Mapping " {% if 'Value Stream Mapping' in selected_MDT %}checked{% endif %}>
                                <label for="Value Stream Mapping ">Value Stream Mapping </label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                              </div> <!---->

            </div>
                
            <div class="col-6" id="Digital Tools">
              <img src="../static/images/digitaltools.svg" width="100%"></img>
            <!--
                            <div class="label-container form-check mt-4">
                                <input type="checkbox" id="3D Modeling and Animation" {% if '3D Modeling and Animation' in selected_MDT %}checked{% endif %}>
                                <label for="3D Modeling and Animation">3D Modeling and Animation</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                                <input type="checkbox" id="AI Assistants and Chatbots" {% if 'AI Assistants and Chatbots' in selected_MDT %}checked{% endif %}>
                                <label for="AI Assistants and Chatbots">AI Assistants and Chatbots</label>
                                <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Augmented & Virtual Reality Development Platforms" {% if 'Augmented & Virtual Reality Development Platforms' in selected_MDT %}checked{% endif %}>
                              <label for="Augmented & Virtual Reality Development Platforms">Augmented & Virtual Reality Development Platforms</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Asset and Maintenance Management" {% if 'Asset and Maintenance Management' in selected_MDT %}checked{% endif %}>
                              <label for="Asset and Maintenance Management">Asset and Maintenance Management</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Business Process Management and Robotic Process Automation" {% if 'Business Process Management and Robotic Process Automation' in selected_MDT %}checked{% endif %}>
                              <label for="Business Process Management and Robotic Process Automation">Business Process Management and Robotic Process Automation</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Computer-Aided-Design Softwares" {% if 'Computer-Aided-Design Softwares' in selected_MDT %}checked{% endif %}>
                              <label for="Computer-Aided-Design Softwares">Computer-Aided-Design Softwares</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Computer-Aided-Engineering Softwares" {% if 'Computer-Aided-Engineering Softwares' in selected_MDT %}checked{% endif %}>
                              <label for="Computer-Aided-Engineering Softwares">Computer-Aided-Engineering Softwares</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id='"Chart, Diagram and Graph Development Tools"' {% if '"Chart, Diagram and Graph Development Tools"' in selected_MDT %}checked{% endif %}>
                              <label for='"Chart, Diagram and Graph Development Tools"'>Chart, Diagram and Graph Development Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Customer Relationship Management and Marketing Automation" {% if 'Customer Relationship Management and Marketing Automation' in selected_MDT %}checked{% endif %}>
                              <label for="Customer Relationship Management and Marketing Automation">Customer Relationship Management and Marketing Automation</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Data Analytics and Business Intelligence" {% if 'Data Analytics and Business Intelligence' in selected_MDT %}checked{% endif %}>
                              <label for="Data Analytics and Business Intelligence">Data Analytics and Business Intelligence</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Digital Twin Development Tools" {% if 'Digital Twin Development Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Digital Twin Development Tools">Digital Twin Development Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Enterprise Management Systems and Tools" {% if 'Enterprise Management Systems and Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Enterprise Management Systems and Tools">Enterprise Management Systems and Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Feedback and Survey Platforms" {% if 'Feedback and Survey Platforms' in selected_MDT %}checked{% endif %}>
                              <label for="Feedback and Survey Platforms">Feedback and Survey Platforms</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Finance Management and Accounting" {% if 'Finance Management and Accounting' in selected_MDT %}checked{% endif %}>
                              <label for="Finance Management and Accounting">Finance Management and Accounting</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Human Resource and Talent Management" {% if 'Human Resource and Talent Management' in selected_MDT %}checked{% endif %}>
                              <label for="Human Resource and Talent Management">Human Resource and Talent Management</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Information and Knowledge Management" {% if 'Information and Knowledge Management' in selected_MDT %}checked{% endif %}>
                              <label for="Information and Knowledge Management">Information and Knowledge Management</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Integrated Development Environments and Programming Languages" {% if 'Integrated Development Environments and Programming Languages' in selected_MDT %}checked{% endif %}>
                              <label for="Integrated Development Environments and Programming Languages">Integrated Development Environments and Programming Languages</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Inventory and Warehouse Management" {% if 'Inventory and Warehouse Management' in selected_MDT %}checked{% endif %}>
                              <label for="Inventory and Warehouse Management">Inventory and Warehouse Management</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Manufacturing Management Tools" {% if 'Manufacturing Management Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Manufacturing Management Tools">Manufacturing Management Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Mind Maps and Whiteboards Tools" {% if 'Mind Maps and Whiteboards Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Mind Maps and Whiteboards Tools">Mind Maps and Whiteboards Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Procurement and Spend Management Tools" {% if 'Procurement and Spend Management Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Procurement and Spend Management Tools">Procurement and Spend Management Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Product Lifecycle Management Tools" {% if 'Product Lifecycle Management Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Product Lifecycle Management Tools">Product Lifecycle Management Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Project Management Tools" {% if 'Project Management Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Project Management Tools">Project Management Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Quality Management Tools" {% if 'Quality Management Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Quality Management Tools">Quality Management Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="System Modeling and Simulation Tools" {% if 'System Modeling and Simulation Tools' in selected_MDT %}checked{% endif %}>
                              <label for="System Modeling and Simulation Tools">System Modeling and Simulation Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Team Collaboration Platforms" {% if 'Team Collaboration Platforms' in selected_MDT %}checked{% endif %}>
                              <label for="Team Collaboration Platforms">Team Collaboration Platforms</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Training & E-Learning Tools" {% if 'Training & E-Learning Tools' in selected_MDT %}checked{% endif %}>
                              <label for="Training & E-Learning Tools">Training & E-Learning Tools</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Transportation and Logistics Management" {% if 'Transportation and Logistics Management' in selected_MDT %}checked{% endif %}>
                              <label for="Transportation and Logistics Management">Transportation and Logistics Management</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div>
                            <div class="label-container form-check mt-4">
                              <input type="checkbox" id="Version Control Systems" {% if 'Version Control Systems' in selected_MDT %}checked{% endif %}>
                              <label for="Version Control Systems">{Version Control Systems}</label>
                              <img src="../static/images/info-circle-fill.svg" class="info-icon" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='./images/car.jpg'>"></img>
                            </div> <!---->
            </div>
                            
            <div class="d-flex mt-2">
                                <button id="save" class="btn btn-primary m-2">Save</button>
                                <button id="closeButton" class="btn btn-secondary m-2" onclick="window.close();">Finish</button>
            </div>

              </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<script>
selected_MDT = {{selected_MDT | tojson}};
MDT = {{MDT | tojson}};
ImgPath = {{ImgPath | tojson}};
checkedi=MDT.map(mdt => {
  if (selected_MDT.includes(mdt))
    return 'checked'
  else
    return ''
  })

for (i = 0; i < MDT.slice(0,MDT.indexOf("3D Modeling and Animation")).length; i++) {
  temp = document.createElement('div');
  temp.className = 'label-container form-check mt-4';
  temp.innerHTML = `<input type="checkbox" id='${MDT[i]}' ${checkedi[i]}>
                              <label>${MDT[i]}</label>
                              <a href="#" onclick="window.open('${ImgPath[i]}', '_blank')"><img src='../static/images/info-circle-fill.svg'></a>`;
  document.getElementById('Methods').appendChild(temp);
}

for (i = 0; i < MDT.slice(MDT.indexOf("3D Modeling and Animation")).length; i++) {
  temp = document.createElement('div');
  temp.className = 'label-container form-check mt-4';
  temp.innerHTML = `<input type="checkbox" id='${MDT.slice(MDT.indexOf("3D Modeling and Animation"))[i]}' ${checkedi[i+MDT.slice(0,MDT.indexOf("3D Modeling and Animation")).length]}>
                              <label>${MDT.slice(MDT.indexOf("3D Modeling and Animation"))[i]}</label>
                              <a href="#" onclick="window.open('${ImgPath[i+MDT.slice(0,MDT.indexOf("3D Modeling and Animation")).length]}', '_blank')"><img src='../static/images/info-circle-fill.svg'></a>`;
  document.getElementById('Digital Tools').appendChild(temp);
}



    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    document.getElementById('save').addEventListener('click', function() {
        const inputs = document.querySelectorAll('.label-container input[type="checkbox"]');
        const labelsStatus = [];

        inputs.forEach(input => {
            const labelID = input.id;
            labelsStatus.push({
                id: labelID,
                checked: input.checked ? 1 : 0
            });
        });

        fetch('/save_DMT', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({labels: labelsStatus}),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('Attributes saved successfully.');
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>
</body>
</html>

